<div>
    <label for="gravacaoAltura--frente"
           class="form__label-t">
        Distância entre arte e borda:</label>
    <input type="number"
           id="gravacaoAltura--frente"
           class="form__input-t">
    <small id="suporteBordaFrente"
           class="form__suporte-t">
        <%- shaker.avisoAltura %>
    </small>
</div>
