<div class="naoMostrar" id="shakerGo__arteLivre">
    <div>
        <label for="acimaBordaFrente">Dist창ncia entre arte e borda:</label>
        <input type="number" id="acimaBordaFrente" required minlength="1" maxlength="25">
        <small id="suporteBordaFrente">Alerta</small>
    </div>
    <div>
        <label for="arteDescentralizadaFrente">Dist창ncia entre arte e borda:</label>
        <input type="number" id="arteDescentralizadaFrente" required minlength="1" maxlength="25">
        <small id="suporteArteDescentralizadaFrente">Alerta</small>
    </div>
    <div>
        <label for="abaixoFundoFrente">Dist창ncia entre arte e borda:</label>
        <input type="number" id="abaixoFundoFrente" required minlength="1" maxlength="25">
        <small id="suporteFundoFrente">Alerta</small>
    </div>
    <div>
        <label for="larguraDescentralizadoFrente">Dist창ncia entre arte e borda:</label>
        <input type="number" id="larguraDescentralizadoFrente" required minlength="1" maxlength="85">
        <small id="suporteLarguraDescentralizadoFrente">Alerta</small>
    </div>
    <button id="" onclick="calcularDescentralizadoFrente()">Calcular</button>
</div>
<script src="/scripts/shakerCalcularDescentralizado.js"></script>