<h2>Aqui está correto</h2>
<div class="main__l-medidas-frente-container">
    <p class="main__t-p-frente">Distância entre<br>arte e borda:<br>
        <span id="acimaFrente"></span>
    </p>
    <p class="main__t-p-frente">Altura da arte:<br>
        <span id="meioFrente"></span>
    </p>
    <p class="main__t-p-frente">Distância entre<br>arte e borda:<br>
        <span id="abaixoFrente"></span>
    </p>
    <p class="main__t-p-frente">Largura da Arte:<br>
        <span id="frenteLargura"></span>
    </p>
</div>
<div class="main__l-medidas-verso-container">
    <p class="main__t-p-verso">Distância entre<br>arte e borda:<br>
        <span id="acimaVerso"></span>
    </p>
    <p class="main__t-p-verso">Altura da arte:<br>
        <span id="meioVerso"></span>
    </p>
    <p class="main__t-p-verso">Distância entre<br>arte e borda:<br>
        <span id="abaixoVerso"></span>
    </p>
    <p class="main__t-p-verso">Largura da Arte:<br>
        <span id="versoLargura"></span>
    </p>
</div>