<aside class="aside--l">
    <img class="aside__logo" src="/images/logo-healthPlast.svg" alt="Logo Health Plast">
    <h2 class="aside__title">Projeção Para Aprovação</h2>

    <!--  Include das opções  -->
    <%- include('../partials/composicaoShaker') %>

    <div class="aside__text">
        <h3 class="composicao__header">Aprovação:</h3>
        <p class="aside__text--p">▶ O pedido será enviado para produção somente após a aprovação da Projeção. Após encaminhado o pedido o mesmo não poderá ser alterado.</p>
        <p class="aside__text--p">
        ▶ A aprovação da arte final é de responsabilidade do solicitante, favor conferir todas as informações para evitar qualquer transtorno futuro. </p>
    </div>
    <div class="aside__links">
        <div class="container__links">
            <img class="images__link" src="/images/whatsapp.svg">
            <p class="aside__link">(11) 5678-7640</p>
        </div>
        <div class="container__links">
            <img class="images__link" src="/images/email.svg">
            <p class="aside__link">contato@healthplast.com.br</p>
        </div>
        <div class="container__links">
            <img class="images__link" src="/images/site.svg">
            <p class="aside__link bold">www.healthplast.com.br</p>
        </div>
    </div>
</aside>