<div class="mockup">
    <div class="informacoesTotais">
        <%- include('../partials/informacoesGerais') %>
    </div>
    <div class="mockup-main__images">
        <img class ="sobretampa" id="selected-sobretampa" src="/images/ref-shaker.png">
    </div>
    <div class="mockup-main__images">
        <img class ="tampa" id="selected-tampa" src="/images/ref-shaker.png">
    </div>
    <div class="mockup-main__images">
        <img class ="copo" id="selected-copo" src="/images/ref-shaker.png">
    </div>
    <div class="arrumar">
        <h2>Frente</h2>
        <h2>Verso</h2>
    </div>
</div>