# MySQL
MYSQL_ROOT_PASSWORD=trocar
MYSQL_DATABASE=mockup_studio_database
MYSQL_USER=trocar
MYSQL_PASSWORD=trocar
MYSQL_PORT=3307

# PHP
APP_PORT=8080
APP_ENV=development

# Conexão do PHP com o banco
DB_HOST=db
DB_NAME=mockup_studio_database
DB_USER=trocar
DB_PASSWORD=trocar