<div class="proj-apr__logo-container">
    <img src="/imagens/logo-health-plast.svg"
         class="proj-apr__logo"
         alt="logo da health plast">
</div>


<div class="proj-apr__header">
    <h1><%= projecaoAprovacao.Titulo %></h1>
</div>