<div class="qr-code">
    <div class="qr-code__header">
        <h2>QrCode:</h2>
        <p><%= projecaoAprovacao.AvisoQrCode %></p>
    </div>

    <label class="switch-c qr-code-switch">
        <input type="checkbox" id="ativarQrCode">
        <span class="puxador redondo"></span>
    </label>
</div>
<script src="scripts/ativarQrCode.js"></script>