.chip__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.chip {
    border: 1px solid var(--cor-primaria-500);
    border-radius: 0.375rem;
    padding: .5rem .8rem;
    display: flex;
    gap: .5rem;
    background-color: var(--cor-apoio-background);
    cursor: pointer;
}

.chip p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: var(--fs-500);
    color: var(--cor-primaria-500);
}

.chip:hover {
    background-color: var(--cor-primaria-100);
}

.chip.ativo p {
    font-weight: 700;
}

.chip.ativo {
    background-color: var(--cor-primaria-100);
}

.chip__icone {
    display: none;
    width: 1rem;
    height: auto;
}



