<div class="exibir-medidas verso">
    <div class="exibir-medidas-altura">
        <div>
            <p>Distância entre<br>arte e bordas:</p>
            <span id="exibirDistanciaBorda--verso"></span>
        </div>
        <div>
            <p>Altura da arte:<br></p>
            <span id="exibirAlturaArte--verso"></span>
        </div>
        <div>
            <p>Distância entre<br>arte e bordas:</p>
            <span id="exibirDistanciaFundo--verso"></span>
        </div>
    </div>
    <div>
        <p>Largura da arte:<br></p>
        <span id="exibirLargura--verso"></span>
    </div>
</div>