<div class="mockup-imagem__total sobretampa">
    <img class="mockup-imagem__produto"
         id="sobretampaEscolhida"
         src="/imagens/<%= title %>/sobretampa/<%- sobretampas[0].nome %>.png">
</div>


<div class="mockup-imagem__total tampa">
    <img class="mockup-imagem__produto"
         id="tampaEscolhida"
         src="/imagens/shaker-tampa/<%- tampas[0].nome %>.png">
</div>

<div class="mockup-imagem__total copo">
    <img class="mockup-imagem__produto"
         id="copoEscolhido"
         src="/imagens/shaker-copo/<%- copos[0].nome %>.png">
</div>