<div class="exibir-medidas simples">
    <div>
        <p>Altura da <br> arte:
            <span id="exibirAlturaGravacao"></span>
        </p>
    </div>

    <div>
        <p>Largura da <br> arte:
            <span id="exibirLarguraGravacao"></span>
        </p>
    </div>
</div>